*.Rproj.user
*.Rproj.user*
.Rhistory
.RData
.Ruserdata
.Renviron
*config.json
*.xlsx
*.xls
*.mdb
*.DS_Store
*.DBF
*.doc
*.accdb
*.DS_Store
.Rproj.user
inst/doc
*config.yml
*.Rproj.user
.Rproj.user/**
*.html
*.yml
*.md